*{
    margin: 0%;
    padding: 0%;
}

body{
    /*background-color: black;*/
    background-image: url(hgsvad2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
main{
    margin-top: 50em;
    /*max-width: 1000px;*/
    min-width: 300px;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    
    color: white;
}
main>h1,h2{
    font-size: 5rem;
    margin-top: 5rem;
    color: antiquewhite;
}
h2{
    margin-top: 0%;
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 14vh;

}
nav button{
    cursor: pointer;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 17px;
    font-weight: bolder;
    margin: 5px;

    border-radius: 14%;
}
.descri{
    color: rgb(230, 43, 214);
    margin: 20px;
}
#btnverdoces{
    background-image: url(back-graud-buttom/bnt-doces.jpeg);
    background-size: cover;
    color: black;
}
#btnverenfeites{
    background-image: url(back-graud-buttom/enfeites.jpg);
    background-size: cover;
}
#btnverchocolate,#btnverchocolate2,#btnverchocolate3,#btnverchocolate4{
    background-image: url(back-graud-buttom/bnt-choco.jpeg);
    background-size: cover;
}
#btnverferramentas,#btnverferramentas2,#btnverferramentas3,#btnverferramentas4{
    background-image: url(back-graud-buttom/ferramentas.jpg);
    background-size: cover;
    color: black;
}
#btnveritens{
    background-image: url(back-graud-buttom/bnt-copo.jpeg);
    background-size: contain;
    
}
#btnverdescart{
    background-image: url(back-graud-buttom/bnt-discart.jpeg);
    background-size: cover;
    background-position: top;
    color: black;
}
#btnverdescart>a{
    color: black;
}



header{
    text-align: center;
}
header>div>img{
    width: 29vh;
    height: 16vh;
}
div h2{
    margin: 10px;
    font-size: 2.3rem;
}
figure{
    display: inline;
}
img{
    margin: 7px;
    height: 40vh;
    width: 30vh;
}

.enfeites{
    display: flex;
    justify-content: center;
}
.catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 23%;
    padding: 20px;
    list-style: none;
}
.bnt{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}

@media (max-width:580px){


    .catalogo{
        justify-content: center;
    }

}

/*pagina dos enfeites*/

nav>.btn-enfeite{
    padding: 9px;
    font-size: 1rem;
    border-radius: 14%;
}
article>div>figure>img{
    height: 15vh;
    width: 10vh;
}

/*@media (max-width:408px){
    

    body{
        background-image: url(hgsvad2.jpeg);
    }

}