*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image:linear-gradient(221deg, rgb(47, 136, 209),rgb(231, 62, 209),rgb(47, 136, 209),rgb(231, 62, 209));
    background-size: cover;
    background-attachment: fixed;
}
main{
    margin-top: 50em;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    
    color: white;
}
main>h1,h2{
    font-size: 5rem;
    margin-top: 5rem;
    color: antiquewhite;
}
h2{
    margin-top: 0%;
}
nav{
    display: flex;
    margin-top: 14vh;

}
nav button{
    cursor: pointer;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 17px;

    margin: 5px;

    border-radius: 24%;
}
#btnverdoces{
    background-image: url(back-graud-buttom/doces.jpg);
    background-size: cover;
    color: black;
}
#btnverbaloes{
    background-image: url(back-graud-buttom/baloes.jpg);
    background-size: cover;
    color: black;
}
#btnverenfeites{
    background-image: url(back-graud-buttom/enfeites.jpg);
    background-size: cover;
}
#btnverchocolate{
    background-image: url(back-graud-buttom/chocolate.jpg);
    background-size: cover;
}
#btnverferramentas{
    background-image: url(back-graud-buttom/ferramentas.jpg);
    background-size: cover;
    color: black;
}
#btnveritens{
    background-image: url(back-graud-buttom/copos-tacas.jpeg);
    background-size: cover;
    color: black;
}
header{
    text-align: center;
}
header>div>img{
    width: 29vh;
    height: 16vh;
}
div h2{
    margin: 10px;
    font-size: 2.3rem;
}
figure{
    display: inline;
}
img{
    margin: 7px;
    height: 40vh;
    width: 30vh;
}
.catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 23%;
    padding: 20px;
    list-style: none;
}
.bnt{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}

@media (max-width:580px){


    .catalogo{
        justify-content: center;
    }

}

/*pagina dos enfeites*/

nav>.btn-enfeite{
    padding: 9px;
    font-size: 1rem;
    border-radius: 50%;
}
article>div>figure>img{
    height: 15vh;
    width: 10vh;
}

/*@media (max-width:408px){
    

    body{
        background-image: url(hgsvad2.jpeg);
    }

}